
body {
	background-color: #585757;
}

#snake-frame {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 680px;
	height: 680px;
	margin: -340px 0 0 -340px;
}

#game {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #181b18;
	z-index: 0;
}

#submit {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #181b18;
	color: white;
	font-family: monospace;
	padding-top: 200px;
	box-sizing: border-box;
}

.text-field {
	color: white;
	font-family: monospace;
	font-size: 18px;
	margin: 0 auto;
	margin-left: 200px;
	margin-top: 20px;
}

input {
	border: 0;
	outline: 0;
	background: transparent;
	color: white;
	font-family: monospace;
	font-size: 18px;
	border-bottom: 1px solid yellow;
}

button {
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0 auto;
	background: transparent;
	color: white;
	font-family: monospace;
	font-size: 24px;
	margin-left: 250px;
	margin-top: 50px;
}

button:hover {
	font-weight: bold;
}
