
body {
	background-color: #585757;
}

#snake-frame {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 680px;
	height: 680px;
	margin: -340px 0 0 -340px;
}

#game {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #181b18;
	z-index: 0;
}

#submit {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f00;
	z-index: -1;
}
